@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

body{
    font-family: 'Scheherazade New', serif;
}

h1{
    color: green
}

body{
    color: red
}

h2{
    color:blue
}

h3{
    color:purple
}