@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

body{
    font-family: 'Scheherazade New', serif;
}

h1{
    color: green
}


h2{
    color:blue
}

h3{
    color:purple
}

.container{
    padding-left: 1rem;
    padding-right: 1rem
}

.container-centre{
    max-width: 600px ;
    margin: auto;
}