@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --primary-color:#4D7C0F;
    --dark-grey: #0F172A;
    --off-white:#FEF08A;
}

body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}

hr{
    margin: 2rem 0rem;
}

h1{
    color:#0F172A;
}


.container{
    padding-left: 1rem;
    padding-right: 1rem
}

.container-centre{
    max-width: 600px ;
    margin: auto;
}
.link{
    text-decoration: none;
    padding:0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
    
}
.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}

.link-active{
    font-weight: bold;
}

.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .nav-dev{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
    color:white
}

.hero{
    padding: 2rem;
    padding-top: 5rem;
}
.hero .hero-img {
    max-width: 350px;
    margin:auto;
    display: block;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-grey);
    font-size: xx-large;
}
.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

.section{
    padding:2rem;
}

.section h1{
    text-align: center;
    
}

.ow{
    background-color: var(--off-white);
}

.footer{
    background-color: var(--primary-color);
    padding:2rem 1rem;
    text-align: center;
    color:white;
    border-top-left-radius: 1rem;

}

.footer .link{
    color:white;
}
.footer ul{
    padding-inline-start: 0px;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}